<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>의사전용 회원가입</title>
<meta content="" name="description">
<meta content="" name="keywords">
<!-- Favicons -->
<link href="img/favicon.png" rel="icon">
<link href="img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="css/style.css" rel="stylesheet">
<style>
#doctorImg {
	width: 200px;
	height: 200px;
	display: inline;
	border-radius: 10%;
	object-fit: cover;
	border: 3px solid #F5F5F5;
	text-align: center;
	font-size: 9pt;
}

.no_content_img {
	width: 200px;
	height: 200px;
	margin: auto;
	border: 3px solid #F5F5F5;
	text-align: center;
	font-size: 9pt;
}

input[name="pictureAdd"] {
	width: 30%;
	height: 38px;
}

.btn btn-secondary {
	text-align: center;
}

.btn btn-primary {
	display: inline-block;
}

.FileBtn label {
	margin-left: 260px;
	margin-top: -230px;
	display: inline-block;
	width: 95px;
}

/*파일선택시 선택된 파일명이 붙는것을 가려준다*/
.FileBtn input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
</style>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="js/jsp/doctorMemberJoin.js"></script>
<body>
	<div th:replace="~{fragment/header :: #header}"></div>
	<main id="main">
		<!-- ======= Breadcrumbs Section ======= -->
		<section class="breadcrumbs">
			<div class="container">
				<br />
				<div class="section-title">
					<h2 style="font-weight: bold; font-size: 30px;">의사전용 회원가입</h2>
					<br />
					<p>
						동물병원에 근무하고 계시는 <b>수의사 전용 회원가입 폼</b>입니다. <br>보호자이신 분들은 <b>뒤로 가기 -> 보호자에 체크한 상태</b>에서 회원가입하기 버튼을 눌러주세요.
					</p>
				</div>
			</div>
		</section>
		<!-- End Breadcrumbs Section -->
			<section class="inner-page">
				<form action="doctorMemberJoinOk" id="doctorMemberJoinOk" method="post" enctype="multipart/form-data">
				<div class="container">
					<input type="hidden" th:value="${seqMember}" id="seqMember" name="seqMember">
					<div class="col-md-2 form-group mt-3" style="margin-left: 34%;">
						<table>
							<tr>
								<td class="no_content_img" id="no_content_img"><i class="bi bi-x-circle"></i> 등록된 파일이 없습니다.</td>
							</tr>
							<tr>
								<td id="doctorImgTd"><img id="doctorImg" alt="" src="" style="width: 200px; height: 200px;"> <br />
								</td>
							</tr>
						</table>
						<div class="FileBtn">
							<label for="doctorFileUp" class="btn btn-primary" style="border-radius: 50px;">사진추가</label>
							<input type="file" class="btn btn-primary" id="doctorFileUp" name="file" accept="image/*">
						</div>
						<br />
					</div>
					<div class="row">
						<div class="col-md-4 form-group mt-3" style="margin: auto;">
							<div class="validate"></div>
								<label for="value">소속병원</label>
							<input onkeyup="filter()" class="form-control" type="text" id="value" placeholder="병원을 입력해주세요." name="">
							<div class="validate" id="value_val"></div>
							<div th:each="animalHospitalList : ${animalHospitalList}" class="item">
								<div th:text="${animalHospitalList.animalHospitalName}" th:value="${animalHospitalList.seqAnimalHospital}"
									class="name" th:id="'animalHospitalName'+${animalHospitalList.seqAnimalHospital}"
									th:onclick="getValue([[${animalHospitalList.seqAnimalHospital}]])"></div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4 form-group mt-3">
							<div class="validate"></div>
						</div>
						<div class="col-md-4 form-group mt-3">
							<label for="number">면허취득일</label>
							<input type="date" class="form-control" name="doctorWorkYear" id="doctor_license_date">
							<div class="validate" id="doctor_license_date_val"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 form-group mt-3">
							<div class="validate"></div>
						</div>
						<div class="col-md-4 form-group mt-3">
							<label for="number">의사 등록번호</label>
							<input type="number" class="form-control" name="doctorRegistrationNumber" id="doctor_license_seq"
								placeholder="의사 등록번호를 입력해주세요." data-rule="text" required="required">
							<div class="validate" id="doctor_license_seq_val"></div>
						</div>
					</div>
					<br />
					<div class="col-md-4 form-group mt-3" style="margin: auto;">
						<label for="text">인사말</label>
						<textarea class="form-control" name="doctorSay" id="greetingMessage" rows="3" placeholder="인사말을 입력해주세요."
							style="resize: none;"></textarea>
						<div class="validate"></div>
					</div>
					<div class="col-md-4 form-group mt-3" style="margin: auto;">
						<label for="text">이력</label>
						<textarea class="form-control" name="doctorWorkSpace" id="careerMessage" rows="3" placeholder="이력을 입력해주세요."
							style="resize: none;"></textarea>
						<div class="validate"></div>
					</div>
					<div class="col-md-4 form-group mt-3" style="margin: auto;">
						<label for="text">학력</label>
						<textarea class="form-control" name="doctorEducation" id="educationMessage" rows="3" placeholder="학력을 입력해주세요."
							style="resize: none;"></textarea>
						<div class="validate"></div>
					</div>
					<br /> <br>
					<div class="row">
						<div class="col-md-4 form-group" style="margin: auto;">
							<a href="/roleCheck" class="btn btn-secondary" name="move_pre_page" id="move_pre_page"
								style="border-radius: 50px; width: 110px; text-align: center; color: white;">이전페이지</a>
							<a class="btn btn-primary" name="join_membership_doctor" id="join_membership_doctor"
								style="border-radius: 50px; width: 110px; text-align: center; float: right; color: white;">회원가입</a>
							<div class="validate"></div>
						</div>
					</div>
				</div>
				</form>
			</section>
		<br>
		<!-- End Appointment Section -->
	</main>
	<!-- End #main -->
	<div th:replace="~{fragment/footer :: #footer}"></div>
</body>
</html>