<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>네이버 콜백</title>
<meta content="" name="description">
<meta content="" name="keywords">
</head>
<body>
</body>
<script type="text/javascript">
/* var naverLogin = new naver.LoginWithNaverId({
    clientId: "jjZSe4Dzr_Kpcinyf4bH", // 본인걸로 수정, 띄어쓰기 금지.
    callbackUrl: "http://localhost:8080/naverCallback", // 아무거나 설정
    isPopup: false,
    callbackHandle: true
});
naverLogin.init();
naverLogin.getLoginStatus(function (status) {
	if(status){
        console.log(naverLogin.accessToken.accessToken);
        alert(naverLogin.accessToken);
        console.log(naverLogin.user); 
        var id = naverLogin.user.getId();
        var email = naverLogin.user.getEmail();
        var name = naverLogin.user.getName();
        var birthday = naverLogin.user.getBirthday();
        var gender = naverLogin.user.getGender();
        const mobile = naverLogin.user.getMobile(); 
        const birthYear = naverLogin.user.getBirthyear();
        var birth = birthYear +'-'+birthday;
        alert(birth);
        
	}//status if문
}); // naverLogin 함수 */
</script>
</html>