<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>진료내역 조회</title>
<meta content="" name="description">
<meta content="" name="keywords">
<!-- Favicons -->
<link href="img/favicon.png" rel="icon">
<link href="img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="css/style.css" rel="stylesheet">
<style type="text/css">
table {
	border-collapse: collapse;
}

.pagination {
	justify-content: center;
}

input[name="searchPatient"] {
	width: 70%;
	height: 38px;
	border: 1px solid #ced4da;
	padding-left: 5px;
	display: inline;
}

input[name="searchPatientBtn"] {
	width: 30%;
	height: 38px;
	display: inline;
	margin-left: -5px;
}
</style>
</head>
<body class="sb-nav-fixed">
	<div th:replace="~{fragment/header :: #header}"></div>
	<!-- ======= Breadcrumbs Section ======= -->
	<section class="breadcrumbs">
		<div class="container">
			<br />
			<div class="section-title">
				<h2 style="font-weight: bold; font-size: 30px;">
					<br />
					진료내역 조회
				</h2>
			</div>
		</div>
	</section>
	<!-- End Breadcrumbs Section -->
	<section class="inner-page">
		<main>
			<!-- table section -->
			<div class="col-md-9" style="margin-left: 200px">
				<form style="float: right;">
					<!-- 예시: <form th:action="@{/board/list}" method="get"> -->
					<input type="text" name="searchPatient" class="form-control" id="searchPatient" placeholder="환자명을 입력해주세요." data-rule="text">
					&nbsp;
					<input type="submit" class="btn btn-primary" name="searchPatientBtn" id="searchPatientBtn" value="검색" style="width: 70px; text-align: center; border-radius: 50px; margin-top: -4px;">
				</form>
				<div>
					<br />
					<br />
					<br />
				</div>
				<div class="white_shd full margin_bottom_30">
					<div class="full graph_head"></div>
					<div class="table_section padding_infor_info">
						<div th:text="${info}"></div>
						<div class="table-responsive-sm" id="medicineListNull" th:if="${#lists.isEmpty(patientInfoList)}">
							<br />
							<h6 style="margin-left: 10px; font-size: 16px;">&nbsp;진료내역이 없습니다.</h6>
						</div>
						<div class="table-responsive-sm" th:if="${patientInfoList != null}">
							<table class="table table-hover" style="text-align: center">
								<thead>
									<tr>
										<th style="width: 7%">보호자명</th>
										<th style="width: 9%">환자명</th>
										<th style="width: 10%">생년월일</th>
										<th style="width: 9%">종</th>
										<th style="width: 7%">성별</th>
										<th style="width: 7%">몸무게</th>
										<th style="width: 15%">진료일시</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="patientInfo : ${patientInfoList}" th:onclick="|location.href='@{/patientInfo(seqAnimal=${patientInfo.seqAnimal})}'|">
										<td th:text="${patientInfo.memberName}"></td>
										<td th:text="${patientInfo.animalName}"></td>
										<td th:text="${#dates.format(patientInfo.animalBirthDay,'yyyy년 MM월 dd일')}"></td>
										<td th:text="${patientInfo.animalType}"></td>
										<td th:text="${patientInfo.animalGender} ? '암컷' : '수컷'"></td>
										<td th:text="${patientInfo.animalWeight + 'kg'}"></td>
										<td th:text="${#dates.format(patientInfo.diagnosisDate,'yyyy-MM-dd hh시')}"></td>
									</tr>
								</tbody>
							</table>
							<br />
							<nav aria-label="Page navigation example">
								<ul class="pagination">
									<li>[(${list})]</li>
								</ul>
							</nav>
							<!-- 각 번호 페이지 버튼
							 <c:forEach var="num" begin="${pageMaker.startPage}" end="${pageMaker.endPage}">
								 <li class="pageInfo_btn ${pageMaker.cri.pageNum == num ? "active":"" }"><a href="${num}">${num}</a></li>
							 </c:forEach>
							 -->
							<!--  다음페이지 버튼-->
							<!-- 
					        <c:if test="${pageMaker.next}">
					        	 <li class="pageInfo_btn next"><a href="${pageMaker.endPage + 1 }">Next</a></li>
					        </c:if> 
					        -->
						</div>
					</div>
				</div>
			</div>
		</main>
	</section>
	<div th:replace="~{fragment/footer :: #footer}"></div>
</body>
</html>