<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.human.anihospital.mapper.DoctorPageMapper">
	<!-- 세션에서 seqMember값을 받아 내정보(의사) 조회 -->
	<select id="selectOneDoctorInfoVO" parameterType="int"
		resultType="DoctorInfoVO">
		SELECT
			a.seq_member as seqMember,
			a.member_email_id as
			memberEmailId,
			a.member_name as memberName,
			a.member_gender as
			memberGender,
			a.member_birthdate as memberBirthDay,
			a.member_phoneNo as
			memberPhoneNo,
			a.member_role as memberRole,
			a.member_join_date as
			memberJoinDate,
			a.member_update_date as memberUpdateDate,
			a.member_leave_flag as memberLeaveFlag,
			ah.animal_hospital_name as
			animalHospitalName,
			d.seq_doctor as seqDoctor,
			d.seq_animal_hospital as seqAnimalHospital,
			d.doctor_work_year as doctorWorkYear,
			d.doctor_registration_number as doctorRegNo,
			d.doctor_update_date as doctorUpdateDate,
			d.doctor_work_space as doctorWorkSpace,
			d.doctor_say as doctorSay,
			d.doctor_education as doctorEducation,
			d.doctor_picture as doctorPicture,
			d.doctor_picture_path as doctorPicturePath
		FROM
			account a , doctor d ,
			animalhospital ah
		WHERE
			a.seq_member = d.seq_member 
			AND a.seq_member = #{seqMember} 
			AND d.seq_animal_hospital =ah.seq_animal_hospital 
			AND a.member_role = 0
	</select>
	
	<!-- /doctorInfo 페이지로부터 seqMember, seqDoctor 값과
	 /doctorInfoEdit 페이지에서 수정된 정보값을 받아 업데이트  -->
	<update id="updateOneDoctorInfoVO" parameterType="DoctorInfoVO">
		UPDATE
			account a, doctor d
		SET
			a.member_phoneNo = #{memberPhoneNo}, 
			d.doctor_education = #{doctorEducation} ,
			d.doctor_work_space = #{doctorWorkSpace} ,
			d.doctor_say = #{doctorSay},
			d.doctor_update_date = now(),
			a.member_update_date = now()
		WHERE
			a.seq_member = #{seqMember} 
			AND d.seq_doctor = #{seqDoctor}
	</update>

	<!--  -->
	<select id="selectAllPatientInfoVO" parameterType="int"
		resultType="kr.human.anihospital.vo.DocPatientInfoVO">
		SELECT
			ac.seq_member as seqMember,
			ac.member_name as memberName,
			a.seq_animal as seqAnimal,
			a.animal_name as animalName,
			a.animal_age as animalBirthDay,
			a.animal_type as animalType,
			a.animal_size as animalSize,
			a.animal_gender as animalGender,
			a.animal_weight as animalWeight,
			d.seq_diagnosis as seqDiagnosis,
			d.diagnosis_date as diagnosisDate
		FROM
			animal a,
			diagnosis d,
			account ac
		WHERE
			a.seq_animal in
			(
			SELECT
				seq_animal
			FROM
				diagnosis dia
			WHERE
				dia.seq_doctor = #{seqDoctor} )
			AND a.seq_animal = d.seq_animal
			AND a.seq_member = ac.seq_member
		ORDER BY
			d.diagnosis_date desc
	</select>
	
		<!--  -->
	<select id="selectOnePatientInfoVO" parameterType="int"
		resultType="kr.human.anihospital.vo.DocPatientInfoVO">
		SELECT
			ac.seq_member as seqMember,
			ac.member_name as memberName,
			a.seq_animal as seqAnimal,
			a.animal_name as animalName,
			a.animal_age as animalBirthDay,
			a.animal_type as animalType,
			a.animal_size as animalSize,
			a.animal_gender as animalGender,
			a.animal_weight as animalWeight,
			a.animal_join_date as animalJoinDate,
			a.animal_update_date as animalUpdateDate,
			a.animal_important_symptom as animalImportantSymptom,
			a.animal_picture as animalPicture,
			a.animal_video as animalVideo,
			a.animal_picture_path as animalPicturePath,
			a.animal_video_path as animalVideoPath
		FROM
			animal a,
			account ac
		WHERE
			a.seq_animal = #{seqAnimal}
			and a.seq_member = ac.seq_member
	</select>
	<select id="selectAllPatientDiaRecord" parameterType="int"
		resultType="DiagnosisInfoVO">
		SELECT
			a.animal_hospital_name as animalHospitalName,
			d.diagnosis_symptom as diagnosisSymptom,
			d.diagnosis_date as diagnosisDate  
		FROM
			diagnosis d, 
			animalhospital a 
		WHERE
			d.seq_animal = #{seqAnimal} 
			and d.seq_animal_hospital = a.seq_animal_hospital  
		ORDER BY 
			d.diagnosis_date desc
	</select>
	
	<update id="updateOnePatientInfo" parameterType="DocPatientInfoVO">
		UPDATE
			animal a
		SET
			a.animal_type = #{animalType},
			a.animal_size = #{animalSize},
			a.animal_weight = #{animalWeight},
			a.animal_update_date = now()
		WHERE
			a.seq_animal = #{seqAnimal}
	</update>
	
	<select id="selectAllMedicineInfo" resultType="MedicineInfoVO">
		SELECT
			seq_medicine as seqMedicine,
			medicine_manufacture_company as medicineCompany,
			medicine_name as medicineName,
			medicine_medication_guide as medicationGuide,
			medicine_symptom as medicineSymptom,
			medicine_side_effect as medicineSideEffect
		FROM
			medicine 
	</select>
	<select id="selectOneMedicineInfo" parameterType="string" resultType="MedicineInfoVO">
		SELECT
			seq_medicine as seqMedicine,
			medicine_manufacture_company as medicineCompany,
			medicine_name as medicineName,
			medicine_medication_guide as medicationGuide,
			medicine_symptom as medicineSymptom,
			medicine_side_effect as medicineSideEffect
		FROM
			medicine
		WHERE 
			medicine_name = #{medicineName}
	</select>
	
	<insert id="insertOneDiagnosisInfo" parameterType="DiagnosisInfoVO">
		INSERT INTO
			diagnosis
		VALUES
			(#{seqDoctor},#{seqAnimal},#{seqAnimalHospital},#{diagnosisDate},#{diagnosisSymptom},#{diagnosisMedicationWay})
	</insert>
	
	<select id="selectLastInsertIndex" resultType="int">
		SELECT
			LAST_INSERT_ID()
	</select>
</mapper>