<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.human.anihospital.mapper.ScheduleMapper">
	<!-- 공지 전체 리스트 데이터 가져오기 -->
	<select id="selectScheduleDoctorArrJson" resultType="Map">
		 	SELECT
		 		seq_doctor_schedule AS seqDoctorSchedule,
				seq_doctor AS seqDoctor,
				schedule_doctor_holiday_start AS scheduleDoctorHolidayStart,
				schedule_doctor_holiday_end AS scheduleDoctorHolidayEnd,
				schedule_doctor_content AS scheduleDoctorContent,
				schedule_doctor_write_date AS scheduleDoctorWriteDate,
				schedule_doctor_update_date AS scheduleDoctorUpdateDate
			FROM 
				doctorschedule
			WHERE
				seq_doctor = #{seqDoctor}
	</select>
	
	<!-- 보호자의 스케줄 조회 -->
	<select id="selectAllProSchedule" resultType="map" parameterType="int">
		select 
			p.seq_protector_schedule seqProtectorSchedule,
			a.seq_member seqMember,
			p.seq_animal seqAnimal,
			p.seq_doctor_schedule seqDoctorSchedule,
			p.schedule_protector_holiday_start holidayStart,
			p.schedule_protector_holiday_end holidayEnd,
			p.schedule_protector_content scheduleProtectorContent,
			p.schedule_protector_write_date scheduleProtectorWriteDate,
			p.schedule_protector_update_date scheduleProtectorUpdateDate
		from 
			protectorschedule p, animal a 
		where 
			p.seq_animal = a.seq_animal and
			a.seq_member = #{seqMember}
	</select>
	
	<!-- 보호자의 스케줄 추가 -->
	<insert id="insertScheduleProtector" parameterType="Map">
		insert into protectorschedule 
			(seq_animal,
			 seq_doctor_schedule,
			 schedule_protector_holiday_start,
			 schedule_protector_holiday_end,
			 schedule_protector_content,
			 schedule_protector_write_date,
			 schedule_protector_update_date
			 )
		 values
			 (#{seqAnimal},
			  #{seqDoctorSchedule},
			  #{scheduleProtectorHolidayStart},
			  #{scheduleProtectorHolidayEnd},
			  #{scheduleProtectorContent},
			  NOW(),
			  NOW()
			  )
	</insert>
	
	<select id="selectSeqAnimalForInsertScheduleProtector" parameterType="Map" resultType="int">
		SELECT 
			seq_animal AS seqAnimal
		FROM 
			animal
		WHERE 
			seq_member = #{seqMember}
		AND 
			animal_name = #{animalName}
	</select>
	
	<!-- 의사의 스케줄 추가 -->
	<insert id="insertScheduleDoctor" parameterType="Map">
		insert into doctorschedule 
			(seq_doctor,
			 schedule_doctor_holiday_start,
			 schedule_doctor_holiday_end,
			 schedule_doctor_content,
			 schedule_doctor_write_date,
			 schedule_doctor_update_date
			 )
		 values
			 (#{seqDoctor},
			  #{scheduleDoctorHolidayStart},
			  #{scheduleDoctorHolidayEnd},
			  #{scheduleDoctorContent},
			  NOW(),
			  NOW()
			  )
	</insert>
	
	<!-- 의사의 스케줄 수정 -->
	<update id="updateScheduleDoctor" parameterType="Map">
		update doctorschedule SET
			 schedule_doctor_holiday_start = #{scheduleDoctorHolidayStart},
			 schedule_doctor_holiday_end = #{scheduleDoctorHolidayEnd},
			 schedule_doctor_content = #{scheduleDoctorContent},
			 schedule_doctor_update_date = NOW()
		WHERE 
			seq_doctor = #{seqDoctor}
		AND
			seq_doctor_schedule = #{seqDoctorSchedule}
	</update>
	
	<!-- to do list 추가 -->
	<insert id="insertTodolist" parameterType="Map">
		INSERT INTO todolist(
			seq_doctor,
			todo_subject,
			todo_content,
			todo_write_date,
			todo_update_date
		) VALUES (
			#{seqDoctor},
			#{todoSubject},
			#{todoContent},
			NOW(),
			NOW()
		)
	</insert>
	
	<!-- to do list 조회 -->
	<select id="selectAllTodolist" resultType="Map">
		SELECT
			seq_todo AS seqTodo,
			seq_doctor AS seqDoctor,
			todo_subject AS todoSubject,
			todo_content AS todoContent,
			date_format(todo_write_date, '%Y-%m-%d') AS todoWriteDate,
			date_format(todo_update_date, '%Y-%m-%d') AS todoUpdateDate,
			TIMESTAMPDIFF(Week, date_add(NOW(), INTERVAL 6 hour), todo_update_date) AS diff,
			TIMESTAMPDIFF(DAY, date_add(NOW(), INTERVAL 6 hour), todo_update_date) AS diff1
		FROM
			todolist
		WHERE
			seq_doctor = #{seqDoctor}
		AND TIMESTAMPDIFF(DAY, date_add(NOW(), INTERVAL 6 hour), todo_update_date) >= 0
		AND TIMESTAMPDIFF(week, date_add(NOW(), INTERVAL 6 hour), todo_update_date) >= 0
		ORDER BY 
			abs(TIMESTAMPDIFF(week, date_add(NOW(), INTERVAL 6 hour), todo_update_date)), 
			abs(TIMESTAMPDIFF(DAY, NOW(), todo_update_date))
		LIMIT 10
	</select>
	
	<!-- to do list 수정 -->
	<update id="updateTodolist" parameterType="Map">
		UPDATE 
			todolist 
		SET
			todo_subject = #{todoSubject},
			todo_content = #{todoContent},
			todo_update_date = NOW()
		WHERE 
			seq_todo = #{seqTodo}
	</update>
	
	<!-- to do list 삭제 -->
	<delete id="deleteTodolist" parameterType="int">
		DELETE FROM 
			todolist 
		WHERE 
			seq_todo = #{seqTodo}
	</delete>
	
	<!-- 의사의 스케줄을 수정하기 위해 seq값 조회 -->
	<select id="selectSeqDoctorSchedule" parameterType="Map" resultType="int">
		SELECT 
			seq_doctor_schedule as seqDoctorSchedule
		FROM 
			doctorschedule
		WHERE 
			schedule_doctor_holiday_start LiKE #{startDate}
	</select>
	
	<!-- 의사의 스케줄을 삭제 -->
	<delete id="deleteDoctorSchedule" parameterType="int">
		DELETE FROM 
			doctorschedule 
		WHERE 
			seq_doctor_schedule = #{seqDoctorSchedule}
	</delete>
</mapper>  