<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.human.anihospital.mapper.ScheduleMapper">
	<!-- 공지 전체 리스트 데이터 가져오기 -->
	<select id="selectScheduleDoctorArrJson" resultType="Map">
		 	SELECT
				seq_doctor AS seqDoctor,
				schedule_doctor_holiday_start AS scheduleDoctorHolidayStart,
				schedule_doctor_holiday_end AS scheduleDoctorHolidayEnd,
				schedule_doctor_content AS scheduleDoctorContent,
				schedule_doctor_write_date AS scheduleDoctorWriteDate,
				schedule_doctor_update_date AS scheduleDoctorUpdateDate
			FROM 
				doctorschedule
			WHERE
				seq_doctor = #{seqDoctor}
	</select>
	
	<!-- 보호자의 스케줄 조회 -->
	<select id="selectAllProSchedule" resultType="map" parameterType="int">
		select 
			p.seq_protector_schedule seqProtectorSchedule,
			a.seq_member seqMember,
			p.seq_animal seqAnimal,
			p.seq_doctor_schedule seqDoctorSchedule,
			p.schedule_protector_holiday_start holidayStart,
			p.schedule_protector_holiday_end holidayEnd,
			p.schedule_protector_content scheduleProtectorContent,
			p.schedule_protector_write_date scheduleProtectorWriteDate,
			p.schedule_protector_update_date scheduleProtectorUpdateDate
		from 
			protectorschedule p, animal a 
		where 
			p.seq_animal = a.seq_animal and
			a.seq_member = #{seqMember}
	</select>
	
	<insert id="insertScheduleDoctor" parameterType="Map">
		insert into doctorschedule 
			(seq_doctor,
			 schedule_doctor_holiday_start,
			 schedule_doctor_holiday_end,
			 schedule_doctor_content,
			 schedule_doctor_write_date,
			 schedule_doctor_update_date
			 )
		 values
			 (#{seqDoctor},
			  #{scheduleDoctorHolidayStart},
			  #{scheduleDoctorHolidayEnd},
			  #{scheduleDoctorContent},
			  NOW(),
			  NOW()
			  )
	</insert>
</mapper>  